{% extends "inicio.html" %}
{% load static %}
{% block contenido %}



<form action="{% url 'profesores' %}" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputNombre" class="form-label">Nombre del profesor:</label>
      <input type="text" id="nombre" name="nombre" class="input-control" required>
      <div id="nameHelp" class="form-text">Completa con el nombre del profesor.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputLegajo" class="form-label">Legajo</label>
      <input type="number" id="legajo" name="legajo" class="input-control" required>
    </div>
    <div class="mb-3 form-check">
    </div>
    <button type="submit" class="btn btn-primary">Enviar formulario</button>
  </form>

{% endblock %}